body{
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content:center;
}
.cont-news{
    /* margin: 20px; */
    /* border: 5px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    /* margin: 20px; */

}
.news-box{
    /* margin: 20px; */
    /* border: 5px solid rgb(4, 255, 0); */
    /* width: 800%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    /* margin: 20px; */
}
.btn{
    margin-left: 600px;
}