/* body{
  
    align-items: center;
    justify-content:center;
} */
.cont-news{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    

}
.news-box{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(91, 86, 86);
    width: 40%;
    margin-left: 400px;
    margin-top: 5px;
}